<header class="gacha-header" [class.visible]="isVisible()">
  <div class="header-content">
    <div class="header-left">
      <div class="logo">
        <img src="assets/images/logo_anddriuu.webp" alt="Anddriuu Logo" />
      </div>
      <span class="header-title">ANDDRIUU</span>
    </div>

    <nav class="options">
      <div class="option">
        <button type="button" class="option-btn" (click)="toggleMenu(0)">Genshin Impact</button>
        <div *ngIf="openMenu() === 0" class="submenu">
          <button class="submenu-item">Personajes</button>
          <button class="submenu-item">Armas</button>
          <button class="submenu-item">Artefactos</button>
        </div>
      </div>
      <div class="option">
        <button type="button" class="option-btn" (click)="toggleMenu(1)">Zenless Zone Zero</button>
        <div *ngIf="openMenu() === 1" class="submenu">
          <button class="submenu-item">Agentes</button>
          <button class="submenu-item">Bangboos</button>
          <button class="submenu-item">Equipamiento</button>
        </div>
      </div>
      <div class="option">
        <button type="button" class="option-btn" (click)="toggleMenu(2)">Honkai: Star Rail</button>
        <div *ngIf="openMenu() === 2" class="submenu">
          <button class="submenu-item">Personajes</button>
          <button class="submenu-item">Conos de luz</button>
          <button class="submenu-item">Reliquias</button>
        </div>
      </div>
    </nav>
  </div>
</header>
