<main id="zzz-page">
  <section class="games-section">
    <img src="../../../../assets/images/logo_zzz.webp" />
    <img src="../../../../assets/images/logo_hsr.webp" />
    <img src="../../../../assets/images/logo_zzz.webp" class="image-game-selected" />
    <img src="../../../../assets/images/logo_hsr.webp" />
    <img src="../../../../assets/images/logo_zzz.webp" />
  </section>
  <section class="game-sections">
    <div class="container"></div>
  </section>
  <section class="game-section-content"></section>
</main>
