<main id="zzz-page">
  <section class="games-section">
    <div>
      <img src="../../../../assets/images/logo_zzz.webp" />
      <button class="transparent" (click)="onCopy()" [attr.aria-label]="'Copiar ID'">
        <span>UID Anddriuu: {{ this.zzzUID }} @if(isCopied){ ✅ } @else { 📋 } </span>
      </button>
    </div>
    <div>
      <img src="../../../../assets/images/logo_hsr.webp" />
      <button class="transparent" (click)="onCopy()" [attr.aria-label]="'Copiar ID'">
        <span>UID Anddriuu: {{ this.zzzUID }} @if(isCopied){ ✅ } @else { 📋 } </span>
      </button>
    </div>
    <div>
      <img src="../../../../assets/images/logo_zzz.webp" class="image-game-selected" />
      <button class="transparent" (click)="onCopy()" [attr.aria-label]="'Copiar ID'">
        <span>UID Anddriuu: {{ this.zzzUID }} @if(isCopied){ ✅ } @else { 📋 } </span>
      </button>
    </div>
    <div>
      <img src="../../../../assets/images/logo_hsr.webp" />
      <button class="transparent" (click)="onCopy()" [attr.aria-label]="'Copiar ID'">
        <span>UID Anddriuu: {{ this.zzzUID }} @if(isCopied){ ✅ } @else { 📋 } </span>
      </button>
    </div>
    <div>
      <img src="../../../../assets/images/logo_zzz.webp" />
      <button class="transparent" (click)="onCopy()" [attr.aria-label]="'Copiar ID'">
        <span>UID Anddriuu: {{ this.zzzUID }} @if(isCopied){ ✅ } @else { 📋 } </span>
      </button>
    </div>
  </section>

  <section class="game-section">
    <article class="game-sections-container">
      <div class="wheel-container">
        <span *ngFor="let item of items; let i = index" #itemRef class="wheel-item" (click)="onItemClick(item)">
          {{ item }}
        </span>
      </div>
    </article>
    <article class="game-section-container">
      <img class="image-game-section-content" src="assets/images/ben_bigger.webp" alt="Ben Bigger" loading="lazy" />
      <div class="game-section-content">
        <iframe id="zzz-warps-per-patch" [ngClass]="{ 'hidden-elemnt': getCurrentSelectedItem() !== 'Tiradas por Version' }" title="ZZZ Warps Per Patch" frameborder="0" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTiSx8OSyx-BZktnpT-fh_pQHjjkD8q3sp3Csy2aOI-8CV_QroqxzhhNjiCZNV4IdzhyK3xbipZn9WD/pubhtml"></iframe>
        <img src="assets/images/latest_pulls_zzz.webp" [ngClass]="{ 'hidden-elemnt': getCurrentSelectedItem() !== 'Historial Tiradas' }" alt="Imagen Ultimas tiradas de Zenless Zone Zero" loading="lazy" />
        <section class="latest-videos-section" [ngClass]="{ 'hidden-elemnt': getCurrentSelectedItem() !== 'Últimos Videos' }">
          <article class="videos-container">
            <div class="video-card" *ngFor="let video of youtubeVideos" (click)="goToVideo(video.videoId)">
              <img [src]="video.thumbnail" [alt]="video.title" loading="lazy" />
              <div class="video-title-container">
                <h3>{{ video.title }}</h3>
              </div>
            </div>
          </article>
          <article class="youtube-channel-container">
            <button (click)="openUrl('https://www.youtube.com/@anddriuu')" [attr.aria-label]="'Yt Channel'">
              <span>!No te pierdas ninguna noticia ni guías!. PINCHA AQUI 👉</span>
            </button>
          </article>
        </section>
      </div>
    </article>
  </section>
</main>
