@import "../games.css";

main {
  section {
    &.copy-uid-section {
      div.copy-uid-container button {
        background-color: var(--color-black);
        border: 2px solid var(--color-white);
        span {
          color: var(--color-white);
        }
        &:hover {
          background-color: var(--color-black-hover);
        }
      }
    }
  }
}
