<main id="zenless-zone-zero-page">
  <div class="nav-section">
    <aesy-nav-section [sections]="this.sections" />
  </div>

  <section [id]="'header-zzz'" class="header">
    <img src="../../../../assets/images/logo_zzz.webp" alt="Imagen Logotipo del videojuego Zenless Zone Zero" />
    <h1 class="outline-white">ZENLESS ZONE ZERO</h1>
    <h2 class="outline-white">V 2.1</h2>
  </section>

  <section [id]="this.sections[0].id" class="copy-uid-section">
    <div class="copy-uid-container">
      <button class="transparent" (click)="onCopy()" [attr.aria-label]="'Copiar ' + value">
        <span>UID Anddriuu: {{ this.zzzUID }} @if(isCopied){ ✅ } @else { 📋 } </span>
      </button>
    </div>
  </section>

  <section [id]="this.sections[1].id" class="latest-videos fade-in-left">
    <div class="section-title">
      <h2>{{ this.sections[1].title }}</h2>
    </div>

    <div class="section-content">
      <div class="video-card" *ngFor="let video of youtubeVideos" (click)="goToVideo(video.videoId)">
        <img [src]="video.thumbnail" [alt]="video.title" loading="lazy" />
        <h3>{{ video.title }}</h3>
      </div>
    </div>
  </section>

  <section [id]="this.sections[2].id" class="latest-pulls-section fade-in-right">
    <div class="section-title">
      <h2>{{ this.sections[2].title }}</h2>
    </div>
    <div class="section-content">
      <img src="assets/images/latest_pulls_zzz.webp" alt="Imagen Ultimas tiradas de Zenless Zone Zero" loading="lazy" />
    </div>
  </section>

  <section [id]="this.sections[3].id" class="warps-per-patch-section fade-in-left">
    <div class="section-title">
      <h2>{{ this.sections[3].title }}</h2>
    </div>
    <div class="section-content">
      <iframe id="zzz-warps-per-patch" title="ZZZ Warps Per Patch" frameborder="0" [src]="getUrl(this.sections[3].url)"></iframe>
    </div>
  </section>

  <section [id]="this.sections[4].id" class="showcase-section fade-in-right">
    <div class="section-title">
      <h2>{{ this.sections[4].title }}</h2>
    </div>
    <div class="section-content">
      <iframe id="zzz-showcase" title="ZZZ Showcase" frameborder="0" [src]="getUrl(this.sections[4].url)"></iframe>
    </div>
  </section>
</main>
