<main id="home-page">
  <section>
    <img id="logo-image" src="../../../assets/images/logo_anddriuu.webp" alt="Imagen del Logotipo de Anddriuu" />
    <img id="logo-image-label" src="../../../assets/images/logo_anddriuu_label.webp" alt="Imagen Label del Logotipo de Anddriuu" />
    <div class="sns-container">
      <a class="anchor-button sns-link sns-twitch" href="https://www.twitch.tv/anddriuu" target="_blank">
        <div class="svg-wrapper">
          <aesy-svg [iconName]="'icon_twitch'" />
        </div>
        <span>Twitch</span>
      </a>
      <a class="anchor-button sns-link sns-youtube" href="https://www.youtube.com/@anddriuu" target="_blank">
        <div class="svg-wrapper">
          <aesy-svg [iconName]="'icon_youtube'" />
        </div>
        <span>Youtube</span>
      </a>
      <a class="anchor-button sns-link sns-discord" href="https://discord.com/invite/XzrMNZQhMC" target="_blank">
        <div class="svg-wrapper">
          <aesy-svg [iconName]="'icon_discord'" />
        </div>
        <span>Discord</span>
      </a>
      <a class="anchor-button sns-link sns-twitter" href="https://x.com/anddriuuu" target="_blank">
        <div class="svg-wrapper">
          <aesy-svg [iconName]="'icon_twitter'" />
        </div>
        <span>Twitter</span>
      </a>
      <a class="anchor-button sns-link sns-tiktok" href="https://tiktok.com/@anddriuu" target="_blank">
        <div class="svg-wrapper">
          <aesy-svg [iconName]="'icon_tiktok'" />
        </div>
        <span>Tiktok</span>
      </a>
    </div>
  </section>
</main>
